// text-colors
$almost-white: hsl(0, 0%, 98%);
$medium-gray: hsl(0, 0%, 41%);
$almost-black: hsl(0, 0%, 8%);

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    font-weight: 500;
    background-color: $almost-white;
    color: $medium-gray;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: $medium-gray;
    cursor: pointer;
    transition: 0.2s linear;
}

ul {
    list-style: none;
}

.button {
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.2s linear;
    border-radius: 12px;
}

.nav-button {
    position: absolute;
    cursor: pointer;
}

.open-nav-button {
    right: 5%;
    top: 4%;
    display: none;
}

.close-nav-button {
    right: 5%;
    top: 4%;
    z-index: 5;
    display: none;
}

.hidden {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: $medium-gray;
    opacity: 0.7;
    display: none;
}

.header {
    width: 95%;
    margin: 35px auto 80px auto;
    align-items: center;
    display: flex;
    gap: 50px;
    font-size: 15px;

    &__inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__buttons {
        margin-left: auto;

        button {
            padding: 15px 30px;
            background-color: $almost-white;
            color: $medium-gray;
            border: 1px transparent;
        }

        button:hover {
            border: 1px solid $almost-black;
            color: $almost-black;
            text-align: center;
        }

        .register-btn {
            margin-left: 20px;
        }

        .login-btn {
            padding: 15px 38px;
        }
    }
}

.nav {
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;

        &__item {
            position: relative;
            padding-bottom: 10px;

            &-link {
                margin-right: 4px;
            }

            &-link:hover {
                color:$almost-black;
            }
        }

        &__item:hover .dropdown__list {
            display: block;
        }

        &__item:hover .arrow-image {
            transform: rotate(180deg);
        }

        .arrow-image {
            transition: 0.2s linear;
        }
    }

    .dropdown__list {
        position: absolute;
        left: 0;
        top: 100%;
        padding: 15px 0;
        display: flex;
        flex-direction: column;
        font-size: 13px;
        border-radius: 10px;
        box-shadow: 1px 1px 5px $medium-gray;
        z-index: 1;
        display: none;

        &__item {
            display: block;
            padding: 10px 25px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &-icon {
                margin-right: 10px;
            }

            &-link:hover {
                color:$almost-black;
            }
        }
    }
    
    &__list__item:first-child .dropdown__list {
        left:-70%;
    }

    &__list__item:nth-child(2) .dropdown__list {
        min-width: 115px;
    }
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
    gap: 150px;
    
    .section__content {
        text-align: left;
        position: relative;

        &-title {
            color:$almost-black;
            font-size: 75px;
            font-weight: 700;
            margin-bottom: 65px;
            margin-top: 100px;
        }

        &-text {
            font-size: 20px;
            margin-bottom: 55px;
        }

        &-btn {
            border-radius: 12px;
            background-color: $almost-black;
            color: $almost-white;
            padding: 20px 40px;
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 150px;
        }

        &-btn:hover {
            background-color: $almost-white;
            color: $almost-black;
            border: 1px solid $almost-black;
        }

        &-images {
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: space-between;
            gap: 40px;
            align-items: center;
        }
    }

    .section__image {
        background-image: url('../images/image-hero-desktop.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 635px;

        .hero-image {
            display: none;
        }
    }
}

@media screen and (max-width:1150px) {
    .container {
        flex-direction: column-reverse;
        
        .section__content {
            text-align: center;

            &-title {
                margin-top: 0;
            }

            &-images {
                left:50%;
                transform: translateX(-50%);
                margin-bottom: 50px;
            }
        }

        .section__image {
            width: 500px;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width:900px) {
    .open-nav-button {
        display: block;
    }

    .header {
        &__inner {
            position: absolute;
            right: 0;
            top: 0;
            width: 240px;
            height: 100vh;
            z-index: 4;
            flex-direction: column;
            justify-content: start;
            display: none;
            background-color: $almost-white;
        }

        &__buttons {
            flex-direction: column;
            margin: 0;
            align-items: center;
            width: 100%;

            .login-btn {
                width: 90%;
                margin-left: 12px;
            }

            .register-btn {
                margin-left: 12px;
                margin-top: 15px;
                width: 90%;
            }
        }
    }

    .nav {
        margin-top: 50px;
        &__list {
            text-align: left;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
            padding-left: 15px;

            &__item:first-child:hover {
                .dropdown__list {
                    left: 0;
                }
            }

            &__item:first-child:hover {
                margin-bottom: 180px;
            }

            &__item:nth-child(2):hover{
                margin-bottom: 140px;
            }
        }
    }
}

@media screen and (max-width:540px) {
    .container {
        width: 100%;
        gap: 70px;

        .section__content {
            &-title {
                margin-top: 0;
                font-size: 50px;
                margin-bottom: 40px;
            }

            &-text {
                font-size: 18px;
                padding: 0 40px;
                line-height: 1.5;
            }

            &-images {
                gap: 13px;
            }

            &-image{
                width: 80px;
                height: 20px;
            }

            &-image:nth-child(2) {
                height: 35px;
            }
        }

        .section__image {
            width: 100%;
            background-image: none;
            margin: 0;
            height: 420px;
            .hero-image {
                display: block;
                max-width: 100%;
            }
        }
    }
}