*,
::after,
::before {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Epilogue", sans-serif;
  font-size: 18px;
  font-weight: 500;
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(0deg, 0%, 41%);
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: hsl(0deg, 0%, 41%);
  cursor: pointer;
  transition: 0.2s linear;
}

ul {
  list-style: none;
}

.button {
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s linear;
  border-radius: 12px;
}

.nav-button {
  position: absolute;
  cursor: pointer;
}

.open-nav-button {
  right: 5%;
  top: 4%;
  display: none;
}

.close-nav-button {
  right: 5%;
  top: 4%;
  z-index: 5;
  display: none;
}

.hidden {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  background-color: hsl(0deg, 0%, 41%);
  opacity: 0.7;
  display: none;
}

.header {
  width: 95%;
  margin: 35px auto 80px auto;
  align-items: center;
  display: flex;
  gap: 50px;
  font-size: 15px;
}
.header__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header__buttons {
  margin-left: auto;
}
.header__buttons button {
  padding: 15px 30px;
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(0deg, 0%, 41%);
  border: 1px transparent;
}
.header__buttons button:hover {
  border: 1px solid hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 8%);
  text-align: center;
}
.header__buttons .register-btn {
  margin-left: 20px;
}
.header__buttons .login-btn {
  padding: 15px 38px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.nav__list__item {
  position: relative;
  padding-bottom: 10px;
}
.nav__list__item-link {
  margin-right: 4px;
}
.nav__list__item-link:hover {
  color: hsl(0deg, 0%, 8%);
}
.nav__list__item:hover .dropdown__list {
  display: block;
}
.nav__list__item:hover .arrow-image {
  transform: rotate(180deg);
}
.nav__list .arrow-image {
  transition: 0.2s linear;
}
.nav .dropdown__list {
  position: absolute;
  left: 0;
  top: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px hsl(0deg, 0%, 41%);
  z-index: 1;
  display: none;
}
.nav .dropdown__list__item {
  display: block;
  padding: 10px 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav .dropdown__list__item-icon {
  margin-right: 10px;
}
.nav .dropdown__list__item-link:hover {
  color: hsl(0deg, 0%, 8%);
}
.nav__list__item:first-child .dropdown__list {
  left: -70%;
}
.nav__list__item:nth-child(2) .dropdown__list {
  min-width: 115px;
}

.container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 150px;
  display: flex;
  justify-content: space-between;
  gap: 150px;
}
.container .section__content {
  text-align: left;
  position: relative;
}
.container .section__content-title {
  color: hsl(0deg, 0%, 8%);
  font-size: 75px;
  font-weight: 700;
  margin-bottom: 65px;
  margin-top: 100px;
}
.container .section__content-text {
  font-size: 20px;
  margin-bottom: 55px;
}
.container .section__content-btn {
  border-radius: 12px;
  background-color: hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 98%);
  padding: 20px 40px;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 150px;
}
.container .section__content-btn:hover {
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(0deg, 0%, 8%);
  border: 1px solid hsl(0deg, 0%, 8%);
}
.container .section__content-images {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}
.container .section__image {
  background-image: url("../images/image-hero-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 635px;
}
.container .section__image .hero-image {
  display: none;
}

@media screen and (max-width: 1150px) {
  .container {
    flex-direction: column-reverse;
  }
  .container .section__content {
    text-align: center;
  }
  .container .section__content-title {
    margin-top: 0;
  }
  .container .section__content-images {
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
  }
  .container .section__image {
    width: 500px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 900px) {
  .open-nav-button {
    display: block;
  }
  .header__inner {
    position: absolute;
    right: 0;
    top: 0;
    width: 240px;
    height: 100vh;
    z-index: 4;
    flex-direction: column;
    justify-content: start;
    display: none;
    background-color: hsl(0deg, 0%, 98%);
  }
  .header__buttons {
    flex-direction: column;
    margin: 0;
    align-items: center;
    width: 100%;
  }
  .header__buttons .login-btn {
    width: 90%;
    margin-left: 12px;
  }
  .header__buttons .register-btn {
    margin-left: 12px;
    margin-top: 15px;
    width: 90%;
  }
  .nav {
    margin-top: 50px;
  }
  .nav__list {
    text-align: left;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding-left: 15px;
  }
  .nav__list__item:first-child:hover .dropdown__list {
    left: 0;
  }
  .nav__list__item:first-child:hover {
    margin-bottom: 180px;
  }
  .nav__list__item:nth-child(2):hover {
    margin-bottom: 140px;
  }
}
@media screen and (max-width: 540px) {
  .container {
    width: 100%;
    gap: 70px;
  }
  .container .section__content-title {
    margin-top: 0;
    font-size: 50px;
    margin-bottom: 40px;
  }
  .container .section__content-text {
    font-size: 18px;
    padding: 0 40px;
    line-height: 1.5;
  }
  .container .section__content-images {
    gap: 13px;
  }
  .container .section__content-image {
    width: 80px;
    height: 20px;
  }
  .container .section__content-image:nth-child(2) {
    height: 35px;
  }
  .container .section__image {
    width: 100%;
    background-image: none;
    margin: 0;
    height: 420px;
  }
  .container .section__image .hero-image {
    display: block;
    max-width: 100%;
  }
}/*# sourceMappingURL=style.css.map */