/*Text*/
/*Background gradients*/
/*Dividers*/
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 14px;
  color: hsl(240deg, 6%, 50%);
  background: linear-gradient(to bottom, hsl(273deg, 75%, 66%), hsl(240deg, 73%, 65%));
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  padding: 0;
  margin: 0;
}

.container {
  width: 920px;
  height: 520px;
  background-color: azure;
  border-radius: 15px;
  padding: 65px 90px 0 0;
  display: flex;
}
.container .info-block {
  width: 50%;
}
.container .info-block .title {
  color: hsl(238deg, 29%, 16%);
}

.images {
  width: 50%;
  position: relative;
}
.images-one {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-image: url(../images/illustration-woman-online-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: -90px;
  background-position-y: 30px;
}
.images-one img {
  position: absolute;
  top: 35%;
  left: -26%;
  display: none;
}
.images-two {
  position: absolute;
  z-index: 3;
  top: 30%;
  left: -27%;
}
.images-three {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-size: 185%;
  background-position-x: -445px;
  background-position-y: -275px;
}
.images-three img {
  display: none;
}

.accordion__item {
  border-bottom: 1px solid hsl(240deg, 5%, 91%);
  margin-bottom: 10px;
  padding: 10px 0;
}
.accordion__item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}
.accordion__item__header:hover {
  color: hsl(14deg, 88%, 65%);
}
.accordion__item__header::after {
  display: block;
  flex-shrink: 0;
  width: 10px;
  height: 10px;
  margin-left: auto;
  background-image: url(../images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  content: "";
  transition: all 0.2s linear;
}
.accordion__item_show .accordion__item__header-text {
  color: hsl(238deg, 29%, 16%);
  font-weight: 700;
}
.accordion__item_show .accordion__item__header::after {
  transform: rotate(180deg);
}
.accordion__item_show .accordion__item__body {
  display: block;
}
.accordion__item:not(.accordion__item_show) .accordion__item__body {
  display: none;
}

@media only screen and (max-width: 950px) {
  .container {
    flex-direction: column;
    align-items: center;
    padding: 0;
    max-width: 360px;
    height: auto;
    padding: 40px 30px;
  }
  .container .info-block {
    margin-top: 45%;
    width: 80%;
    margin-bottom: 10%;
    height: auto;
  }
  .container .info-block .title {
    text-align: center;
  }
  .accordion__item__header {
    margin-right: 5px;
  }
  .images {
    width: 100%;
  }
  .images-one {
    background-image: none;
  }
  .images-one img {
    display: block;
    width: 60%;
    left: 20%;
  }
  .images-two img {
    display: none;
  }
  .images-three {
    background-image: none;
  }
  .images-three img {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */