/*Text*/
$very-dark-desaturated-blue:hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);
/*Background gradients*/
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);
/*Dividers*/
$light-grayish-blue: hsl(240, 5%, 91%);


*, 
::before, 
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 14px;
    color: $dark-grayish-blue;
    background: linear-gradient(to bottom, $soft-violet, $soft-blue);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    padding: 0;
    margin: 0;
}

.container {
    width: 920px;
    height: 520px;
    background-color: azure;
    border-radius: 15px;
    padding: 65px 90px 0 0;
    display: flex;

    .info-block {
        width: 50%;

        .title {
            color: $very-dark-desaturated-blue;
        }
    }
}

.images {
    width: 50%;
    position: relative;

    &-one {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-image: url(../images/illustration-woman-online-desktop.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-x: -90px;
        background-position-y: 30px;

        img {
            position: absolute;
            top: 35%;
            left: -26%;
            display: none;
        }
    }

    &-two {
        position: absolute;
        z-index: 3;
        top: 30%;
        left:-27%;
    }

    &-three {
        position: absolute; 
        z-index: 1;
        width: 100%;
        height: 100%;
        background-image: url(../images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-size: 185%;
        background-position-x: -445px;
        background-position-y: -275px;

        img {
            display: none;
        }
    }
}

.accordion {
    &__item {
        border-bottom: 1px solid $light-grayish-blue;
        margin-bottom: 10px;
        padding: 10px 0;

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            margin-bottom: 10px;
        }

        &__header:hover {
            color: $soft-red;
        }

        &__header::after {
            display: block;
            flex-shrink: 0;
            width: 10px;
            height: 10px;
            margin-left: auto;
            background-image: url(../images/icon-arrow-down.svg);
            background-repeat: no-repeat;
            content: "";
        }

        &__show &__header-text{
            color: $very-dark-desaturated-blue;
            font-weight: 700;
        }

        &__show &__header::after {
            transform: rotate(-180deg);
        }

        &__show &__body {
            display: block;
        }

        &:not(&__show) &__body {
            display: none;
        }
    }
}


@media only screen and (max-width: 375px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 0;
        max-width: 360px;
        height: auto;

        .info-block {
            margin-top: 45%;
            width: 80%;
            margin-bottom: 10%;

            .title {
                text-align: center;
            }
        }
    }

    .images {
        width: 100%;
        &-one {
            background-image: none;
            img {
                display: block;
                width: 60%;
                left: 20%;
            }
        }

        &-two {
            img {
                display: none; 
            }
        }

        &-three {
            background-image: none;
            img {
                display: none;
            }
        }
    }
    
}