// Colors

// Primary

$Blue: hsl(246, 80%, 60%);

$Light-red-work : hsl(15, 100%, 70%); // work
$Soft-blue : hsl(195, 74%, 62%); // play
$Light-red-study : hsl(348, 100%, 68%); // study
$Lime-green : hsl(145, 58%, 55%); // exercise
$Violet : hsl(264, 64%, 52%); // social
$Soft-orange : hsl(43, 84%, 65%); // self care

// Neutral

$Very-dark-blue: hsl(226, 43%, 10%);
$Dark-blue: hsl(235, 46%, 20%);
$Desaturated-blue: hsl(235, 45%, 61%);
$Pale-blue: hsl(236, 100%, 87%);

$Border-radius: 10px;

*,
::after,
::before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    background-color: $Very-dark-blue;
    width: 100%;
    color: white;
    font-weight: 300;
}

h2, h3, h4, p {
    margin: 0;
}

.container {
    width: 80%;
    margin: calc(50vh - 260px) auto 0;
}

.dashboard__inner {
    display: flex;
    gap: 25px;
    height: 520px;
}

.dashboard__profile {
    border-radius: $Border-radius;
    background-color: $Dark-blue;
    min-width: 250px;

    .profile-info {
        border-radius: $Border-radius;
        background-color: $Blue;
        padding: 30px;

        &__photo {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 3px solid $Pale-blue;
            margin-bottom: 30px;
        }

        &__text {

            .profile-info__subtitle {
                font-size: 14px;
                color: $Pale-blue;
                margin-bottom: 5px;
            }  

            .profile-info__title {
                font-weight: 300;
                font-size: 40px;
                margin-bottom: 80px;
            }
        }
    }

    .selector {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 30px;

        .selector__item {
            color: $Desaturated-blue;
            cursor: pointer;
            transition: all .2s linear;
        }

        .selector__item:hover, .selector__item_active {
            color: white;
        }
    }
}

.dashboard__content {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    max-width: 1000px;
    
    .dashboard__item {
        height: 245px;
        width: 255px;
        border-radius: $Border-radius;
        background-repeat: no-repeat;
        background-position: 95% 0;
    }
}

.dashboard__item_work {
    background-color: $Light-red-work;
    background-image: url(../images/icon-work.svg);
}

.dashboard__item_play {
    background-color: $Soft-blue;
    background-image: url(../images/icon-play.svg);
}

.dashboard__item_study {
    background-color: $Light-red-study;
    background-image: url(../images/icon-study.svg);
}

.dashboard__item_exercise {
    background-color: $Lime-green;
    background-image: url(../images/icon-exercise.svg);
}

.dashboard__item_social {
    background-color: $Violet;
    background-image: url(../images/icon-social.svg);
}

.dashboard__item_self-care {
    background-color: $Soft-orange;
    background-image: url(../images/icon-self-care.svg);
}

.tracking-card {
    background-color: $Dark-blue;
    padding: 25px 25px 30px;
    border-radius: $Border-radius;
    margin-top: 53px;
    cursor: pointer;
    transition: all .2s linear;

    .tracking-card__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;

        .tracking-card__title {
            font-weight: 500;
        }

        .tracking-card__menu {
            cursor: pointer;
        }
    }

    .tracking-card__body {
        .tracking-card__time {
            font-weight: 300;
            font-size: 55px;
            margin-bottom: 10px;
        }

        .tracking-card__prev-period {
            color: $Desaturated-blue;
            font-size: 15px;
        }
    }
}

.tracking-card:hover {
    background-color: $Blue;
}

@media screen and (max-width:1190px){
    .dashboard__inner {
        height: auto;
    }

    .container {
        margin: 10% auto 5%;
    }

    .dashboard__profile {
        height: 520px;
    }
}

@media screen and (max-width:1020px){
    .container {
        width: 90%;
    }

    .dashboard__inner {
        height: auto;
        flex-direction: column;
    }

    .dashboard__profile {
        height: 520px;
        width: 550px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .dashboard__content {
        margin: 0 auto;
        justify-content: space-evenly;
    }
}

@media screen and (max-width:905px){
    .dashboard__content {
        justify-content: center;
    }
}

@media screen and (max-width:650px){
    .dashboard__content {
        flex-direction: column;

        .dashboard__item {
            width: 320px;
            height: auto;
        }
    }

    .tracking-card {
        padding: 25px;
        margin-top: 40px;

        .tracking-card__header {
            margin-bottom: 10px;
        }

        .tracking-card__body {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .tracking-card__time {
                font-size: 35px;
                font-weight: 300;
                margin-bottom: 0;
            }
    
            .tracking-card__prev-period {
                font-size: 14px;
            }
        }
    }

    .dashboard__profile {
        height: auto;
        width: 320px;

        .profile-info {
            display: flex;
            align-items: center;
            gap: 15px;

            &__photo {
                margin-bottom: 0;
            }
 
            .profile-info__title {
                font-size: 20px;
                margin-bottom: 0;
            }
        }

        .selector {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            padding: 20px;
        }
    }
}
